# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# Build files
build/
dist/
out/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# AWS
.aws/

# Coverage
coverage/

# Misc
*.tmp
*.cache

Documentation,Guides and PPT/